@import "mixins-and-functions.scss";


.container {
    display: flex;
    gap: 47px;
    flex-direction: column;
}

.progress-bar-with-caption {
    .progress-bar {
        @include progress-bar();
    }

    &__caption {
        font-weight: 400;
        font-size: 14px;
        color: #58585D;
    }
}

.stats {
    @include stats;
    flex-wrap: wrap;
}

.video-player {
    @include video-player();
}

.therapist-info {
    @include therapist-info();
}

.info-section {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px 32px;

    &__therapist {
        display: flex;
        gap: 24px;
        flex: 35%;
        white-space: nowrap;
    }

    &__user-photo {
        width: 96px;
        height: 96px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        flex: 0 0 auto;
    }

    &__therapist-profile {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__welcome {
        font-weight: 500;
        font-size: 36px;
        color: #121212;
        font-style: italic;
    }

    &__user-name {
        color: #3B7EFF;
    }

    &__last-visited {
        font-size: 14px;
        color: #58585D;
    }

    &__series {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: fit-content;
    }

    &__series-text {
        font-weight: 500;
        font-size: 16px;
        color: #121212;
    }

    &__series-group {
        display: flex;
        gap: 10px;
    }

    &__active-series {
        display: flex;
        gap: 4px;
        min-width: fit-content;
        border: 1px solid #EFEFFF;
        border-radius: 8px;
        
        &--blue-border {
            border-color: #3B7EFF;
        }
    }

    &__active-series-count {
        color: #3B7EFF;
    }

    &__treatments-number {
        width: fit-content;
        height: 100%;
        background: linear-gradient(0deg, #383838, #383838), linear-gradient(90deg, #FF5858 0%, #F09819 100%), linear-gradient(90deg, #868F96 0%, #596164 100%);
        border-radius: 8px;
        font-weight: 600;
        font-size: 32px;
        color: #FFFFFF;
        padding: 12px 17.5px;
        display: flex;
        align-items: center;
    }

    &__series-details {
        display: flex;
        gap: 8px;
        flex-direction: column;
        justify-content: space-between;
        padding: 7px 12px;
    }

    &__series-name {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #121212;
    }

    &__treatments-count {
        font-size: 16px;
        color: #58585D;
    }
}

.progress-sections {
    display: flex;
    flex-direction: column;
    gap: 42px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px 24px;
}

.progress-section {
    &__progress-bar-text {
        color: #58585D;
    }

	&__current-treatment {
        font-weight: 500;
        font-size: 32px;
        color: #121212;
        margin-top: 12px;
        margin-bottom: 24px;
	}
}

.series-details {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-bottom: 21px;
    border-bottom: 1px solid #EBEBF0;

    &__title {
        display: flex;
        align-items: center;
        gap: 18px;
        font-size: 32px;
    }

    &__link {
        font-weight: 500;
        color: #3B7EFF;
        display: flex;
        align-items: center;
        gap: 12px;
        border: 2px solid #3B7EFF;
        border-radius: 42px;
        padding: 12px 15px;
        width: fit-content;
        transition: color 0.2s ease;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #3B7EFF;
        }

        &:hover {
            color: #58585D;
        }            
    }

    &__subtitle {
        font-weight: 500;
        color: #121212;
    }
}

.next-step {
    font-weight: 500;
    color: #121212;
    margin-bottom: 7px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: flex-end;

    &__text {
        font-size: 24px;
        line-height: 20px;
    }

	&__title {
        font-weight: 500;
        font-size: 18px;
        color: #121212;
	}

	&__link {
        color: #58585D;
        font-size: 16px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
	}
}

.step-details {
    margin-top: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__info {
        display: flex;
        gap: 12px;
        align-items: center;
        font-size: 16px;
        color: #FFFFFF;
        padding: 8px;
        background: #58585D;
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
    }


    &__number {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }

    &__continue-link {
        @include black-button();
    }
}

@media screen and (max-width: 1280px) {
    .container {
        gap: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .info-section {
        flex-direction: column;

        &__series {
            width: unset;
        }
    }

    .therapist-info {
        flex-wrap: wrap;
    }

    .video-player {
        aspect-ratio: 16/7;
    }
}

@media screen and (max-width: 768px) {
    .video-player {
        aspect-ratio: 4/2;
    }

    .stats {
        &__progress-number {
            font-size: 32px;
        }

        &__progress {
            font-size: 20px;
        }
    }

    .series-details {
        &__title {
            flex-wrap: wrap-reverse;
            font-size: 28px;
        }

        &__link {
            padding: 8px 11px;
        }
    }
    
    .next-step {
        &__text {
            font-size: 20px;
        }

        &__title {
            font-size: 16px;
        }

        &__link {
            font-size: 15px;
        }
    }

    .info-section {
        gap: 20px;
        padding: 20px 24px;
    }

    .progress-section__current-treatment {
        font-size: 28px;
    }
    
    .step-details__continue-link {
        width: 200px;
        padding: 12px;
        font-size: 16px;
        border-radius: 40px;
    }    
}

@media screen and (max-width: 480px) {
    .info-section {
        gap: 25px;
        padding: 20px;

        &__user-photo {
            width: 70px;
            height: 70px;
        }
    
        &__welcome {
            font-size: 20px;
        }
    
        &__last-visited {
            font-size: 12px;
        }

        &__series-name {
            font-size: 14px;
        }
    
        &__treatments-count {
            font-size: 12px;
        }
    
        &__series-details {
            gap: 4px;
            padding: 5px;
        }
    
        &__therapist {
            gap: 12px;
        }

        &__series-text {
            font-size: 14px;
        }
    
        &__treatments-count {
            font-size: 12px;
        }
    
        &__treatments-number {
            font-size: 18px;
            padding: 6px 11.5px;
        }
    }

    .progress-sections {
        gap: 30px;
        padding: 15px 20px;
    }

    .container {
        gap: 20px;
    }

    .video-player__caption {
        font-size: 12px;
        gap: 4px;
        padding: 5px 8px;
        left: 12px;
        bottom: 12px;

        &::before {
            width: 7px;
            height: 7px;
        }

        &__element {
            border-radius: 4px;
        }
    }

    .progress-bar-with-caption__caption {
        font-size: 12px;
    }

    .stats {
        gap: 12px;

        &__progress-number {
            font-size: 22px;
        }
    
        &__progress {
            font-size: 14px;
        }
    }

    .therapist-info {
        font-size: 14px;
        gap: 8px;

        &__contact-link {
            font-size: 12px;
        }
    }

    .step-details {
        margin-top: 10px;

        &__info {
            gap: 6px;
            font-size: 12px;
            padding: 6px;
            border-radius: 4px;
        }
    
        &__number {
            font-size: 16px;
        }
    
        &__continue-link {
            width: 150px;
            padding: 8px;
            font-size: 12px;
            border-radius: 40px;
        }
    }

    .next-step {
        gap: 5px;

        &__text {
            font-size: 16px;
            line-height: 16px;
        }
    
        &__title {
            font-size: 14px;
        }
    
        &__link {
            font-size: 12px;
        }
    
    }

    .series-details {
        padding-bottom: 15px;

        &__title {
            font-size: 22px;
        }
    
        &__link {
            gap: 6px;
            border: 1px solid #3B7EFF;
            padding: 6px 9px;

            &::before {
                width: 7px;
                height: 7px;
            }
        }
    }

    .progress-section__current-treatment {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .main {
        padding: 8px;
    }

    .stats__progress-group {
        gap: 8px;
        flex-wrap: wrap;
    }

    .info-section,
    .progress-sections {
        padding: 15px 10px;
    }

    .progress-sections {
        gap: 20px;
    }
}
